{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.portfolio.portfolio.enable}}
{{ with $data.portfolio.portfolio}}
{{"<!-- portfolio -->" | safeHTML }}
<section id="portfolio" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title --> " | safeHTML }}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .title }} {{ replace . (index (split . " ") 0) "" }} {{ end }} </span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title --> " | safeHTML }}

            {{ range .portfolio_Item}}
            {{"<!-- Single portfolio Item --> " | safeHTML }}
            <article class="col-lg-4 col-md-6 col-12  wow fadeInUp" data-wow-duration="500ms">
                <div class="portfolio-block text-left equal" size="100%">
                        <div class="portfolio-icon text-center">
                            <i class="{{ .icon }}"></i>
                        </div>
                        <h3>{{ .title | markdownify }}</h3>
                        <p>{{ .content | markdownify }}</p>
                    </div>
            </article>
            {{"<!-- End Single portfolio Item --> " | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /portfolio -->" | safeHTML }}
{{ end }}
{{ end }}