{{ define "main" }}

    {{ partial "preloader.html" . }}

    {{ partial "navigation.html" . }}

    {{ partial "situation.html" . }}

    {{ partial "solution.html" . }}

    {{ partial "values_and_vision.html" . }}
<-- old, unused  -->
    {{ partial "team.html" . }}

    {{ partial "cta.html" . }}

    {{ partial "skill.html" . }}

    {{ partial "portfolio.html" . }}

    {{ partial "about.html" . }}

    {{ partial "pricing.html" . }}

    {{ partial "testimonial.html" . }}

    {{ partial "blog.html" . }}

    {{ partial "contact.html" . }}
<!-- old, unusd? -->
{{ end }}